@import '@styles/_variables.scss';
.select {
  position: absolute;
  top: 2rem;
  right: 5rem;
}
.more_btn {
  position: absolute;
  top: 2rem;
  right: 1rem;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  width: 2rem;
  height: 2rem;
  padding: 0;
}
